<h2 mat-dialog-title style="text-align: center;">Correct translation</h2>
<div *ngIf="data.partial"> Partial Translation: <span style="font-weight: bold;">{{ data.partial }} ...</span>
</div>

<mat-form-field style="width:100%;">
    <input [(ngModel)]="data.word" matInput type="text" (keydown)="onKeyDown($event)"
           placeholder="Enter word(s)">
</mat-form-field>
<div style="text-align: center;">OR decide what to focus on for the next word:</div>
<div style="max-height: 400px; overflow-y: auto;">
    <div style="padding-left: 50px;text-align: left;font-size: 12px; max-height: 25px;"
         *ngFor="let word of data.sentence;let i = index">
        <div style="display: inline-block; width: 100px; font-weight: bold;text-overflow: ellipsis;overflow: hidden">{{
            word
            }}
        </div>
        <mat-slider min="0" max="1" step="0.01" (change)="attentionChange($event, i)"
                    [(ngModel)]="shownValues[i]"></mat-slider>
        {{ ((beamAttention[i] * 100) | number:'1.0-2') + '%'}}
    </div>
</div>

<form class="change-attention" style="text-align:center;padding-top: 20px;">
    <button [mat-dialog-close]="data" type="button" (click)="onAttentionChange()" mat-raised-button
            color="primary">Apply
    </button>
</form>