<div style="text-align:center">
    <mat-toolbar color="primary" style="height: 50px">
        <a type="button" style="font-size: 18px;" [routerLink]="['/documents']" mat-button>
            <img style="width: 26px;padding-bottom: 2px" src="assets/favi-alpha.png">
            NMTVis
            <img style="width: 26px;padding-bottom: 2px" src="assets/favi-alpha.png">
        </a>
        <span class="example-fill-remaining-space"></span>
        <a type="button" [routerLink]="['/intro']" mat-button>Introduction</a>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>
